<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="testService" class="com.umt.service.impl.TestServiceImpl">
		<property name="TDAO">
			<ref bean="testDAO"/>
		</property>
	</bean>
	
	<bean name="/login" class="com.umt.action.LoginAction">
		<property name="testService">
			<ref bean="testService"/>
		</property>		
	</bean>
</beans>