<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWebPitfall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BadTechnobabbleLibraryServlet</display-name>
    <servlet-name>BadTechnobabbleLibraryServlet</servlet-name>
    <servlet-class>no1.BadTechnobabbleLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BadTechnobabbleLibraryServlet</servlet-name>
    <url-pattern>/BadTechnobabbleLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodTechnobabbleLibraryServlet</display-name>
    <servlet-name>GoodTechnobabbleLibraryServlet</servlet-name>
    <servlet-class>no1.GoodTechnobabbleLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodTechnobabbleLibraryServlet</servlet-name>
    <url-pattern>/GoodTechnobabbleLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BadVoterServlet</display-name>
    <servlet-name>BadVoterServlet</servlet-name>
    <servlet-class>no2.BadVoterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BadVoterServlet</servlet-name>
    <url-pattern>/BadVoterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodVoterServlet</display-name>
    <servlet-name>GoodVoterServlet</servlet-name>
    <servlet-class>no2.GoodVoterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodVoterServlet</servlet-name>
    <url-pattern>/GoodVoterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet</display-name>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>no3.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/GetServlet</url-pattern>
  </servlet-mapping>
</web-app>